{% extends 'base.html' %}

{% block content %}
        <!-- mostrar el flash -->
        {% for mensaje in get_flashed_messages() %}
            <div class="alert alert-success alert-dimissable">
                    <button type="button" data-dismiss="alert" class="close">
                        &times;
                    </button>
                    {{ mensaje }}
            </div>
        {% endfor %}
        <h1> Listado de Clientes </h1> 

        <a href="/clientes/nuevocliente" class="btn btn-success">Nuevo Cliente</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Contraseña</th>
                    <th>Correo</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.username }}</td>
                    <td>{{ cliente.password }}</td>
                    <td>{{ cliente.email }}</td>

                    <td>        
                        <a href="/clientes/editarcliente/{{cliente.id}}" class="btn btn-warning">Actualizar</a>
                    </td>
                    <td>        
                        <a href="/clientes/eliminarcliente/{{cliente.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock%}
